.pro-img {
    position: relative;
    display: inline-block;
}

.imgBack {
    position: relative;
}

#changeBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: aliceblue;
    
}